<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bot.game.dao.mapper.BaseWeaponMapper">
  <resultMap id="BaseResultMap" type="com.bot.game.dao.entity.BaseWeapon">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="effect" jdbcType="VARCHAR" property="effect" />
    <result column="describe" jdbcType="VARCHAR" property="describe" />
  </resultMap>
  <sql id="Base_Column_List">
    id, `name`, effect, `describe`
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from bot_base_weapon
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from bot_base_weapon
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.bot.game.dao.entity.BaseWeapon">
    insert into bot_base_weapon (id, `name`, effect, 
      `describe`)
    values (#{id,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{effect,jdbcType=VARCHAR}, 
      #{describe,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.bot.game.dao.entity.BaseWeapon">
    insert into bot_base_weapon
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        `name`,
      </if>
      <if test="effect != null">
        effect,
      </if>
      <if test="describe != null">
        `describe`,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="effect != null">
        #{effect,jdbcType=VARCHAR},
      </if>
      <if test="describe != null">
        #{describe,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.bot.game.dao.entity.BaseWeapon">
    update bot_base_weapon
    <set>
      <if test="name != null">
        `name` = #{name,jdbcType=VARCHAR},
      </if>
      <if test="effect != null">
        effect = #{effect,jdbcType=VARCHAR},
      </if>
      <if test="describe != null">
        `describe` = #{describe,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bot.game.dao.entity.BaseWeapon">
    update bot_base_weapon
    set `name` = #{name,jdbcType=VARCHAR},
      effect = #{effect,jdbcType=VARCHAR},
      `describe` = #{describe,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <select id="selectAll" resultMap="BaseResultMap">
    select <include refid="Base_Column_List"/>
    from bot_base_weapon
  </select>
</mapper>