<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bot.game.dao.mapper.BaseSkillMapper">
  <resultMap id="BaseResultMap" type="com.bot.game.dao.entity.BaseSkill">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="describe" jdbcType="VARCHAR" property="describe" />
    <result column="effect" jdbcType="CHAR" property="effect" />
    <result column="debuff" jdbcType="CHAR" property="debuff" />
    <result column="round" jdbcType="INTEGER" property="round" />
    <result column="figure" jdbcType="VARCHAR" property="figure" />
    <result column="attribute" jdbcType="CHAR" property="attribute" />
    <result column="wait_round" jdbcType="INTEGER" property="waitRound"/>
  </resultMap>
  <sql id="Base_Column_List">
    id, name, `describe`, effect, debuff, round, figure, attribute, wait_round
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from bot_base_skill
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from bot_base_skill
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.bot.game.dao.entity.BaseSkill" useGeneratedKeys="true">
    insert into bot_base_skill (id, name, describe, effect,
      debuff, round, figure, 
      attribute, wait_round)
    values (#{id,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{describe,jdbcType=VARCHAR}, #{effect,jdbcType=CHAR},
      #{debuff,jdbcType=CHAR}, #{round,jdbcType=INTEGER}, #{figure,jdbcType=VARCHAR}, 
      #{attribute,jdbcType=CHAR}, #{waitRound, jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.bot.game.dao.entity.BaseSkill" useGeneratedKeys="true">
    insert into bot_base_skill
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="name != null">
        name,
      </if>
      <if test="describe != null">
        describe,
      </if>
      <if test="effect != null">
        effect,
      </if>
      <if test="debuff != null">
        debuff,
      </if>
      <if test="round != null">
        round,
      </if>
      <if test="figure != null">
        figure,
      </if>
      <if test="attribute != null">
        attribute,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="describe != null">
        #{describe,jdbcType=VARCHAR},
      </if>
      <if test="effect != null">
        #{effect,jdbcType=CHAR},
      </if>
      <if test="debuff != null">
        #{debuff,jdbcType=CHAR},
      </if>
      <if test="round != null">
        #{round,jdbcType=INTEGER},
      </if>
      <if test="figure != null">
        #{figure,jdbcType=VARCHAR},
      </if>
      <if test="attribute != null">
        #{attribute,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.bot.game.dao.entity.BaseSkill">
    update bot_base_skill
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="describe != null">
        describe = #{describe,jdbcType=VARCHAR},
      </if>
      <if test="effect != null">
        effect = #{effect,jdbcType=CHAR},
      </if>
      <if test="debuff != null">
        debuff = #{debuff,jdbcType=CHAR},
      </if>
      <if test="round != null">
        round = #{round,jdbcType=INTEGER},
      </if>
      <if test="figure != null">
        figure = #{figure,jdbcType=VARCHAR},
      </if>
      <if test="attribute != null">
        attribute = #{attribute,jdbcType=CHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bot.game.dao.entity.BaseSkill">
    update bot_base_skill
    set name = #{name,jdbcType=VARCHAR},
      describe = #{describe,jdbcType=VARCHAR},
      effect = #{effect,jdbcType=CHAR},
      debuff = #{debuff,jdbcType=CHAR},
      round = #{round,jdbcType=INTEGER},
      figure = #{figure,jdbcType=VARCHAR},
      attribute = #{attribute,jdbcType=CHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <select id="getByIds" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from bot_base_skill
    where id in
    <foreach collection="ids" item="id" open="(" close=")" separator=",">
      #{id}
    </foreach>
  </select>
</mapper>