<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bot.game.dao.mapper.GamePlayerMapper">
  <resultMap id="BaseResultMap" type="com.bot.game.dao.entity.GamePlayer">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="game_id" jdbcType="VARCHAR" property="gameId" />
    <result column="nickname" jdbcType="VARCHAR" property="nickname" />
    <result column="reg_time" jdbcType="TIMESTAMP" property="regTime" />
    <result column="status" jdbcType="CHAR" property="status" />
    <result column="appellation" jdbcType="VARCHAR" property="appellation" />
    <result column="soul_power" jdbcType="INTEGER" property="soulPower" />
  </resultMap>
  <sql id="Base_Column_List">
    id, game_id, nickname, reg_time, status, appellation, soul_power
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from bot_game_player
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from bot_game_player
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.bot.game.dao.entity.GamePlayer" useGeneratedKeys="true">
    insert into bot_game_player (id, game_id, nickname, reg_time,
      status, appellation, soul_power
      )
    values (#{id, jdbcType=VARCHAR}, #{gameId,jdbcType=VARCHAR}, #{nickname,jdbcType=VARCHAR}, #{regTime,jdbcType=TIMESTAMP},
      #{status,jdbcType=CHAR}, #{appellation,jdbcType=VARCHAR}, #{soulPower,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.bot.game.dao.entity.GamePlayer" useGeneratedKeys="true">
    insert into bot_game_player
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="gameId != null">
        game_id,
      </if>
      <if test="nickname != null">
        nickname,
      </if>
      <if test="regTime != null">
        reg_time,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="appellation != null">
        appellation,
      </if>
      <if test="soulPower != null">
        soul_power,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="gameId != null">
        #{gameId,jdbcType=VARCHAR},
      </if>
      <if test="nickname != null">
        #{nickname,jdbcType=VARCHAR},
      </if>
      <if test="regTime != null">
        #{regTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        #{status,jdbcType=CHAR},
      </if>
      <if test="appellation != null">
        #{appellation,jdbcType=VARCHAR},
      </if>
      <if test="soulPower != null">
        #{soulPower,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.bot.game.dao.entity.GamePlayer">
    update bot_game_player
    <set>
      <if test="gameId != null">
        game_id = #{gameId,jdbcType=VARCHAR},
      </if>
      <if test="nickname != null">
        nickname = #{nickname,jdbcType=VARCHAR},
      </if>
      <if test="regTime != null">
        reg_time = #{regTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=CHAR},
      </if>
      <if test="appellation != null">
        appellation = #{appellation,jdbcType=VARCHAR},
      </if>
      <if test="soulPower != null">
        soul_power = #{soulPower,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bot.game.dao.entity.GamePlayer">
    update bot_game_player
    set game_id = #{gameId,jdbcType=VARCHAR},
      nickname = #{nickname,jdbcType=VARCHAR},
      reg_time = #{regTime,jdbcType=TIMESTAMP},
      status = #{status,jdbcType=CHAR},
      appellation = #{appellation,jdbcType=VARCHAR},
      soul_power = #{soulPower,jdbcType=INTEGER}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <select id="selectBySelective" resultMap="BaseResultMap">
    select <include refid="Base_Column_List"/>
    from bot_game_player
    <where>
      <if test="nickname != null">
         nickname = #{nickname,jdbcType=VARCHAR}
      </if>
      <if test="regTime != null">
        and reg_time = #{regTime,jdbcType=TIMESTAMP}
      </if>
      <if test="status != null">
        and status = #{status,jdbcType=CHAR}
      </if>
      <if test="appellation != null">
        and appellation = #{appellation,jdbcType=VARCHAR}
      </if>
      <if test="soulPower != null">
        and soul_power = #{soulPower,jdbcType=INTEGER}
      </if>
    </where>
  </select>
</mapper>