<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bot.game.dao.mapper.PlayerFriendsMapper">
  <resultMap id="BaseResultMap" type="com.bot.game.dao.entity.PlayerFriends">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="player_id" jdbcType="VARCHAR" property="playerId" />
    <result column="friend_id" jdbcType="VARCHAR" property="friendId" />
    <result column="get_time" jdbcType="TIMESTAMP" property="getTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, player_id, friend_id, get_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from bot_player_friends
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from bot_player_friends
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.bot.game.dao.entity.PlayerFriends" useGeneratedKeys="true">
    insert into bot_player_friends (id, player_id, friend_id, get_time
      )
    values (#{id,jdbcType=VARCHAR}, #{playerId,jdbcType=VARCHAR}, #{friendId,jdbcType=VARCHAR}, #{getTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.bot.game.dao.entity.PlayerFriends" useGeneratedKeys="true">
    insert into bot_player_friends
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="playerId != null">
        player_id,
      </if>
      <if test="friendId != null">
        friend_id,
      </if>
      <if test="getTime != null">
        get_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="playerId != null">
        #{playerId,jdbcType=VARCHAR},
      </if>
      <if test="friendId != null">
        #{friendId,jdbcType=VARCHAR},
      </if>
      <if test="getTime != null">
        #{getTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.bot.game.dao.entity.PlayerFriends">
    update bot_player_friends
    <set>
      <if test="playerId != null">
        player_id = #{playerId,jdbcType=VARCHAR},
      </if>
      <if test="friendId != null">
        friend_id = #{friendId,jdbcType=VARCHAR},
      </if>
      <if test="getTime != null">
        get_time = #{getTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bot.game.dao.entity.PlayerFriends">
    update bot_player_friends
    set player_id = #{playerId,jdbcType=VARCHAR},
      friend_id = #{friendId,jdbcType=VARCHAR},
      get_time = #{getTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <select id="selectBySelectvie" resultMap="BaseResultMap">
    select <include refid="Base_Column_List"/>
    from bot_player_friends
    <where>
      <if test="playerId != null">
        player_id = #{playerId,jdbcType=VARCHAR}
      </if>
      <if test="friendId != null">
        and friend_id = #{friendId,jdbcType=VARCHAR}
      </if>
      <if test="getTime != null">
        and get_time = #{getTime,jdbcType=TIMESTAMP}
      </if>
    </where>
  </select>
</mapper>