<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bot.game.dao.mapper.PlayerAppellationMapper">
  <resultMap id="BaseResultMap" type="com.bot.game.dao.entity.PlayerAppellation">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="player_id" jdbcType="VARCHAR" property="playerId" />
    <result column="appellation" jdbcType="VARCHAR" property="appellation" />
    <result column="get_time" jdbcType="TIMESTAMP" property="getTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, player_id, appellation, get_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from bot_player_appellation
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from bot_player_appellation
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.bot.game.dao.entity.PlayerAppellation" useGeneratedKeys="true">
    insert into bot_player_appellation (id, player_id, appellation, get_time
      )
    values (#{id,jdbcType=VARCHAR}, #{playerId,jdbcType=VARCHAR}, #{appellation,jdbcType=VARCHAR}, #{getTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.bot.game.dao.entity.PlayerAppellation" useGeneratedKeys="true">
    insert into bot_player_appellation
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="playerId != null">
        player_id,
      </if>
      <if test="appellation != null">
        appellation,
      </if>
      <if test="getTime != null">
        get_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="playerId != null">
        #{playerId,jdbcType=VARCHAR},
      </if>
      <if test="appellation != null">
        #{appellation,jdbcType=VARCHAR},
      </if>
      <if test="getTime != null">
        #{getTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.bot.game.dao.entity.PlayerAppellation">
    update bot_player_appellation
    <set>
      <if test="playerId != null">
        player_id = #{playerId,jdbcType=VARCHAR},
      </if>
      <if test="appellation != null">
        appellation = #{appellation,jdbcType=VARCHAR},
      </if>
      <if test="getTime != null">
        get_time = #{getTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bot.game.dao.entity.PlayerAppellation">
    update bot_player_appellation
    set player_id = #{playerId,jdbcType=VARCHAR},
      appellation = #{appellation,jdbcType=VARCHAR},
      get_time = #{getTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <select id="selectBySelective" resultMap="BaseResultMap">
    select <include refid="Base_Column_List"/>
    from bot_player_appellation
    <where>
      <if test="playerId != null">
        player_id = #{playerId,jdbcType=VARCHAR}
      </if>
      <if test="appellation != null">
        and appellation = #{appellation,jdbcType=VARCHAR}
      </if>
      <if test="getTime != null">
        and get_time = #{getTime,jdbcType=TIMESTAMP}
      </if>
    </where>
  </select>
</mapper>